h1{
	text-align: center;
	margin: 20px;
	border: 2px dotted pink;
}
h4{
	float: left;
	position: relative;
}
h3{
	float: right;
	position: relative;
	margin-top: 30px;	
}
h2{
	margin: 50px;
	float: left;
}
h5{
	float: right;
	margin: 30px;
}
h6{
	float: left;
}